@model Evento.Domain.Entity.Dependente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dependente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanoSaude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanoSaude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoSanguineo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoSanguineo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergenciaHospital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergenciaHospital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoneMedico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoneMedico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestricaoMedicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestricaoMedicamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualMedicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualMedicamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestricaoAlimentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestricaoAlimentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualAlimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualAlimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PiscinaRestricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PiscinaRestricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorizaPasseio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorizaPasseio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Bairro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DependenteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
