@model IEnumerable<Evento.Domain.Entity.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Nova Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdadeIni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdadeFin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdadeIni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdadeFin)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a>
                @*<a asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> |*@
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.CategoriaId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
